* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: $bgColor;
    justify-content: center;

    main {
        display: flex;
        align-items:center ;
        justify-content: center;
        height: auto;
        width: 100%;
        padding: 1em;
        flex: auto;

        #gridContainer{
            background-color: white;
            width: 500px;
            height: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "img cont";
            border-radius: 10px;

            #leftImage{
                display: flex;
                grid-area: img;
                background-image: url('../images/image-product-desktop.jpg');
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                background-repeat: no-repeat;
                background-size: cover;               
            }
            #rightContent{
                display: flex;
                grid-area: cont;
                flex-direction: column;
                padding: 1.7em;
                gap: 1em;
                height: auto;
                justify-content: center;

                .noteCardComponent{
                    @include standardText();
                    letter-spacing: 0.5em;
                }
                
                .titleCardComponent{
                    margin: 0;
                    @include title();
                }
                
                .paragraphCardComponent{
                    @include standardText();
                }
                
                button{
                    width: 100%;
                    height: auto;
                    display: flex;
                    background-color: $bColor;
                    border: none;
                    border-radius: 0.6em;
                    gap: 0.5em;
                    align-items: center;
                    justify-content: center;
                    padding: 0.7em;
                    &:hover {
                        background-color: darken($color: $bColor, $amount: 10) 
                    }
                    p{
                        @include standardText();
                        color: white;
                        font-weight: 700;
                    }
                }

                .pricesCardComponent{
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    gap: 1em;
                    .priceCardComponent{
                        @include title();
                        color: $bColor;
                    }
                    .realPriceCardComponent{
                        @include standardText();
                        color: $tColor;
                        text-decoration:line-through;
                    }   
                }
            }
        }
    }

    footer {
        display: flex;
        flex:none;
        position: relative;
        height: 1em;
        flex-direction: row;
        justify-content: center;
        font-family: Montserrat;
        .attribution { font-size: 11px; text-align: center; }
        .attribution a { color: hsl(228, 45%, 44%); }
    }
}

